@page
@model Blog.Pages.LogoutModel
@{
    ViewData["Title"] = "Logged out";
}

<h1>@ViewData["Title"]</h1>
<p>You have logged out</p>
<div><a class="nav-link" asp-page="/Index">Click here to continue</a></div>