@page
@model Blog.Pages.RegisterSuccessModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Registration succeeded with email @Model.Email</p>
<div><a href="./Login">Click here to login</a></div>
